<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
  <!--<filter>
    <filter-name>JpsFilter</filter-name>
    <filter-class>oracle.security.jps.ee.http.JpsFilter</filter-class>
    <init-param>
      <param-name>enable.anonymous</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>JpsFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>-->
  <servlet>
    <servlet-name>InvestorAcctBalanceServicePort</servlet-name>
    <servlet-class>man.iab.InvestorAcctBalanceServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>InvestorAcctStatementServicePort</servlet-name>
    <servlet-class>man.ias.InvestorAcctStatementServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>DataStaticInvestorServicePort</servlet-name>
    <servlet-class>man.dsi.DataStaticInvestorServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>HeartbeatServicePort</servlet-name>
    <servlet-class>man.heartbeat.HeartbeatServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>BrokerValidationServicePort</servlet-name>
    <servlet-class>man.bv.BrokerValidationServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvestorAcctBalanceServicePort</servlet-name>
    <url-pattern>/InvestorAcctBalanceServicePort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InvestorAcctStatementServicePort</servlet-name>
    <url-pattern>/InvestorAcctStatementServicePort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataStaticInvestorServicePort</servlet-name>
    <url-pattern>/DataStaticInvestorServicePort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeartbeatServicePort</servlet-name>
    <url-pattern>/HeartbeatServicePort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BrokerValidationServicePort</servlet-name>
    <url-pattern>/BrokerValidationServicePort</url-pattern>
  </servlet-mapping>
</web-app>
